<!DOCTYPE html>
<html>
<head>
   <title>TourismWebPage</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style2.css')}}">
 
  <style type="text/css">
    .float-img {
      float: right;
      clear: right;
      margin-left: 5px;
      margin-bottom: 10px;

      border: solid black 1px;
      padding: 1px;

    }
  </style>
	<title>PLACES</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style3.css')}}">
  <header>
          <nav>
           <h1>Travel And Explore</h1>
             <ul id="nav">
           <li><a class="homeblack" href="/packages">PACKAGES</a></li>
        <li><a class="homeblac" href="/booking">BOOKING</a></li>
        <li><a class="homebla" href="/packages">BACK</a></li>
      </ul>
    </nav>
  </header>
    <center>
   <h1>ANDHRA PRADESH</h1>
   </center>
   <body>
    <div>
   	<img src="{{url_for('static',filename='tirupati.jpeg')}}" width="400" height="200"
       class="float-img"/>
        <h2>Tirupati</h2>
   	   <p>Days:2 night,3 days<br>
          Day 1:Visit Sri Kalyana Venkateswaraswami temple,Srivari Mettu<br>
          Day 2:Visit Sri Padmavathi Ammanvari temple,Deer park<br>
          Day 3:Visit Talakona waterfall,Sri Govindarajaswami temple<br>
          package cost:4000 

        </p>
      </div>
        <br>
        
        <div>
        <img src="{{url_for('static',filename='sri.jpeg')}}" width="400" height="225"
       class="float-img"/>
       <h2>Srisailam</h2>
       <p>Days:1 night,2 days<br>
          Day 1:Visit Patala ganga,Mallikarjuna swamy temple<br>
                Akkamahadevi caves,Srisailam tiger reserve <br>
          Day 2:Check-out from hotel at 8:30am and visit the <br>
                Bhramaramba devi temple,Shikaresvara temple<br>
          Package cost:4000
   	   		</p>
        </div>
         <div>
   	    <h2>Mantralayam</h2>
   	     <img src="{{url_for('static',filename='mantra.jpeg')}}" width="400" height="200"
       class="float-img"/>
        	<p>Days:1 night,2 days<br>
              Day 1:Brundavan-Samadhi temple,alampur<br>
   	   	      Day 2:Check-out from the hotel at 9am and visit Bichali,<br>
                    Manchalamma temple,Urukunda,Chinna tumbalam<br>
              Package cost:3000
          </p>
        </div>
        <div>
         <img src="{{url_for('static',filename='vizag.jpeg')}}" width="400" height="200"
       class="float-img"/>
       <br>
        <h2>Vizag</h2>
        <p>Days:1 night,2 days<br>
           Day 1:Visit Borra caves,Simhachalam temple,Araku tribal museum<br>
           Day 2:Visit kailasagiri park,INS kurusura submarine musuem<br>
                 Vishakapatnam zoo,Rishikonda beach,katki falls<br>
           package cost:3500
         </p>
     </div>
   	  
   </body>

	


</html>