<!DOCTYPE html>
<html>
<head>

  <title>TourismWebPage</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style2.css')}}">
 
  <style type="text/css">
    .float-img {
      float: right;
      clear: right;
      margin-left: 5px;
      margin-bottom: 10px;

      border: solid black 1px;
      padding: 1px;

    }
  </style>
	<title>PLACES</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style3.css')}}">
    <header>
          <nav>
           <h1>Travel And Explore</h1>
             <ul id="nav">
           <li><a class="homeblack" href="/packages">PACKAGES</a></li>
        <li><a class="homeblac" href="/booking">BOOKING</a></li>
        <li><a class="homebla" href="/packages">BACK</a></li>
      </ul>
    </nav>
  </header>
  <center>
   <h1>KERALA</h1>
   </center>
   <body>
      <div>
     	 <img src="{{url_for('static',filename='thiru.jpeg')}}" width="400" height="200" class="float-img"/>
         <h2>Thiruvananthapuram</h2>
   	       <p>Days:2 night,3 days<br>
                Day 1:Visit Kuthira Malika palace,Napier museum,<br>
                Sree Padmanabha Swamy temple<br>
                Day 2:Varakala beach,zoo<br>
                Day 3:Karikkakom Sri Chamundi temple,Meenmutty waterfalls<br>
                package cost:4500 
            </p>
      </div>
         <br>
        
        <div>
         <img src="{{url_for('static',filename='munnar.jpeg')}}"width="400" height="225"class="float-img"/>
           <h2>Munnar</h2>
            <p>Days:1 night,2 days<br>
                Day 1:Visit Eravikulam national park,Mattupetty dam,Anamudi<br>
                The blossom international park
                Day 2:Check-out from hotel at 8:30am and visit the <br>
                KDHP Tea museum,Fun forest,KFDC Floriculture center<br>
                Package cost:4000
   	   		  </p>
        </div>

         <div>
   	       <h2>Kochi</h2>
   	         <img src="{{url_for('static',filename='kochi.jpeg')}}" width="400" height="200"class="float-img"/>
                <p>Days:1 night,2 days<br>
                    Day 1:Visit Kochi fort,Mattancherry palace,<br>
                    cherai beach
   	   	            Day 2:Check-out from the hotel at 9am and visit Willingdon Island,<br>
                    Jew town,Indo-Portuguese museum and Marine drive<br>
                    Package cost:3000
                </p>
          </div>

        <div>
         <img src="{{url_for('static',filename='guru.jpeg')}}" width="400" height="200" class="float-img"/>
             <br>
             <h2>Guruvayur</h2>
           <p>Days:1 night,2 days<br>
              Day 1:Visit Guruvayur temple,Chavakkad beach,<br>
              Sree Parthasarathy temple<br>
              Day 2:Visit Chowallur Shiva temple,Good Shepherd square,Chirakkal caves<br>
              package cost:3500
           </p>
       </div>
   	  
    </body>

	


</html>